html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

#canvas-div {
  margin: auto;
  width: 280px;
  height: 280px;
  border: 2px solid black;
}

/* Create your styles below */
