html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

canvas {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  border: 2px solid black;
}

div {
  margin: 0 auto;
  text-align: center;
}

button, input {
  margin: 0 auto;
  text-align: center;
}

/* Create your styles below */
